@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --brand-primary: #23b8e1;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #f00a95;
  --brand-secondary--inverted: #021b2a;

  --font-family-inter: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --font-family-base: var(--font-family-inter);
  --font-family-sans-serif: var(--font-family-inter);
  --text-color: var(--brand-secondary--inverted);
}
