@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Inter:400,600,700&display=swap");

@layer base {
  .sanity-content a {
    @apply underline underline-offset-4 text-blue-700 dark:text-blue-400;
  }
}

.fusion-gradient {
  background: linear-gradient(
    30deg,
    hsl(193deg 76% 62%) 0%,
    hsl(200deg 98% 61%) 20%,
    hsl(212deg 100% 69%) 29%,
    hsl(246deg 100% 79%) 36%,
    hsl(292deg 71% 67%) 43%,
    hsl(324deg 100% 63%) 50%,
    hsl(336deg 100% 64%) 57%,
    hsl(357deg 100% 69%) 64%,
    hsl(21deg 100% 64%) 71%,
    hsl(37deg 100% 57%) 80%,
    hsl(48deg 100% 50%) 100%
  );
}

.fusion-gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms ease;
  background: linear-gradient(
    140deg,
    hsl(193deg 76% 62%) 0%,
    hsl(200deg 98% 61%) 20%,
    hsl(212deg 100% 69%) 29%,
    hsl(246deg 100% 79%) 36%,
    hsl(292deg 71% 67%) 43%,
    hsl(324deg 100% 63%) 50%,
    hsl(336deg 100% 64%) 57%,
    hsl(357deg 100% 69%) 64%,
    hsl(21deg 100% 64%) 71%,
    hsl(37deg 100% 57%) 80%,
    hsl(48deg 100% 50%) 100%
  );
}

.fusion-gradient:hover::before {
  opacity: 1;
}

.blue-replace-italic em {
  @apply not-italic text-blue-600 dark:text-blue-400;
}
