@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Inter:400,600,700&display=swap");

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  .sanity-content a,
  a.link {
    @apply underline underline-offset-4 transition-colors;
    @apply text-blue-700 dark:text-blue-500;
    @apply hover:text-blue-800 dark:hover:text-blue-300;
  }
}

.fusion-gradient {
  background: linear-gradient(
    30deg,
    hsl(193deg 76% 62%) 0%,
    hsl(200deg 98% 61%) 20%,
    hsl(212deg 100% 69%) 29%,
    hsl(246deg 100% 79%) 36%,
    hsl(292deg 71% 67%) 43%,
    hsl(324deg 100% 63%) 50%,
    hsl(336deg 100% 64%) 57%,
    hsl(357deg 100% 69%) 64%,
    hsl(21deg 100% 64%) 71%,
    hsl(37deg 100% 57%) 80%,
    hsl(48deg 100% 50%) 100%
  );
}

.fusion-gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 400ms ease;
  background: linear-gradient(
    140deg,
    hsl(193deg 76% 62%) 0%,
    hsl(200deg 98% 61%) 20%,
    hsl(212deg 100% 69%) 29%,
    hsl(246deg 100% 79%) 36%,
    hsl(292deg 71% 67%) 43%,
    hsl(324deg 100% 63%) 50%,
    hsl(336deg 100% 64%) 57%,
    hsl(357deg 100% 69%) 64%,
    hsl(21deg 100% 64%) 71%,
    hsl(37deg 100% 57%) 80%,
    hsl(48deg 100% 50%) 100%
  );
}
.fusion-gradient:hover::before {
  opacity: 1;
}

.blue-replace-italic em {
  @apply not-italic text-blue-600 dark:text-blue-400;
}

.grecaptcha-badge {
  top: 4rem !important;
  opacity: 0.7;
}

.background-fusion-colours {
  overflow: hidden;
  position: relative;
}
.background-fusion-colours::before {
  @apply absolute block bg-cover bg-no-repeat blur md:blur-xl;
  @apply bg-[center_top] md:bg-[center_top] xl:bg-[center_top_-20vw];
  @apply opacity-70 md:opacity-40;
  background-image: url("/fusion-colours-background-small.webp");
  background-size: 100% auto;
  top: -5%;
  bottom: -5%;
  left: -5%;
  right: -5%;
  content: "";
  z-index: -1;
}

.eventbrite-container {
  @apply relative rounded-xl overflow-hidden shadow-lg bg-white bg-opacity-10;
  height: 425px;
}

.eventbrite-container::before {
  content: "Loading Eventbrite...";
  @apply absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center;
  z-index: -1;
}
